# Stripe API keys
STRIPE_PUBLISHABLE_KEY=:public
STRIPE_SECRET_KEY=:private

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=:secret

STATIC_DIR=../path/to/build

# Create a Price on Stripe using the Dashboard or API
PRICE=:price_id
BULK_PRICE=:bulk_price_id
BULK_QTY=3 # price break quantity to get into BULK_PRICE
# DOMAIN="http://localhost:3000" # When using the React client
DOMAIN=":server_address_for_frontend"

# Supported payment methods for the store.
# Some payment methods support only a subset of currencies.
PAYMENT_METHODS="card"

DATABASE_URL=host=:host port=:port dbname=:dbname connect_timeout=10

SENDGRID_API_KEY=:secret

FROM_EMAIL=:email
BCC_EMAIL=:bcc_email
PICKUP_ADDRESS=:address
SUPPORT_PHONE=:phone
INCOMING_EMAIL_KEY=:incoming_email_key
FORWARD_TO_EMAIL=:forward_to_email
