.pre-order-container {
  display: flex;
  justify-content: center;
  margin-top: -5rem;
  flex-direction: column;
  align-items: center;
}
.p {
  color: var(--font-color);
  font-size: var(--big-font);
  display: inline-flex;
  width: fit-content;
  font-family: "Crimson Text";
  font-style: italic;
}
.close-modal-btn {
  color: black;
  display: flex;
  justify-content: flex-end;
}

.pre-order-list {
  display: flex;
  flex-direction: column;
  margin-block: unset;
  padding-inline-start: unset;
}
